<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>e7baafb6-23b9-47f2-8eef-81beeef600b7</string>
		<key>stages</key>
		<array>
			<dict>
				<key>id</key>
				<string>d92bc1e1-6501-4090-bb88-6c10907e8de9</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>e3ebb653-1909-415d-84c1-9f8f300aee7c</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>a371569d-2230-4dcc-9caa-a328ecdacfba</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>ed5b2590-a284-4b3d-bf87-5b7848cb7b4c</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>456e2d32-3017-43ec-bd0c-5aa6a572e95c</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>9d01f269-0f00-4395-a868-c66fd76a2460</string>
		<key>stages</key>
		<array>
			<dict>
				<key>id</key>
				<string>e709516e-e87e-4f5c-af58-4c1513ee4f19</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>aca91e36-c51a-47c6-84fa-5e7d28693638</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>ef9f22ce-5986-4b62-9237-6b6cf3499f9e</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>1ca45734-01d4-497d-8f95-6c9f153ec3c5</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>5</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>5</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>5</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>5</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>6c6712de-0f6a-4d9f-b15a-e9bcb803f113</string>
				<key>sets</key>
				<array>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>90</integer>
						<key>pushups</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>interval</key>
						<integer>0</integer>
						<key>pushups</key>
						<integer>2</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
